@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Josefin Sans', sans-serif;
}

@layer components {
  .submitButton {
      @apply w-full max-w-[40ch] text-white font-semibold uppercase border-2 border-solid border-white
      overflow-hidden duration-300 py-2 rounded-lg bg-red-300 relative 
      after:absolute 
      after:top-0
      after:right-full
      after:bg-red-700 
      after:z-10 
      after:w-full 
      after:h-full
      hover:after:translate-x-full 
      after:duration-300
      hover:text-stone-200  
      hover:font-bold
  }
}